body {
    background-color: white;
}
#Top{
    border: 5px solid black;
    height: 250px;
    width: 98%;
    position: relative;
    top: 15px;
    left: 15px;

}
#one {
    background-color: rgb(218, 6, 218);
    height: 160px;
    width: 50px;
    position: absolute;
    top: 75px;
    left: 15px;
}
#two {
    background-color: green;
    height: 200px;
    width: 600px;
    position: absolute;
    top: 20px;
    left: 200px;
    
}
#three {
    border-radius: 100px;
    background-color: aqua;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 20px;
    left: 1000px;
}

#Middle {
    border: 5px dotted black;
    height: 400px;
    width: 98%;
    position: relative;
    top: 40px;
    left: 15px;
}

#toenail {
    background-color: rgb(230, 203, 165);
    height: 275px;
    width: 75%;
    position: absolute;
    top: 55px; 
    left: 300px;
    box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.788);

}

#Bottom {
    border: 2px solid darkgrey;
    height: 400px;
    width: 30%;
    position: relative;
    top: 110px;
    left: 900px;
}

#Hello {
    font-size: 40pt;
    color: blue;
    text-align: center;
    font-weight: 500;
    position: absolute;
    top: 150px;
    left: 250px;
    display: inline-block;
}